.CardDetail {
   width: 70%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   margin: 20px;
   margin: auto;
   font-size: 10px;
   background-color: rgb(109, 153, 176);
   background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
   border: 1px solid #e1e1e1;

}

.HeaderDetail {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.InfoDetail{
   font-size: 14px;
   text-align: center;
   margin-top: 10px;
}

@media screen and (max-width: 600px) {
   .CardDetail {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      margin: 20px;
      margin: auto;
      font-size: 10px;
      background-color: rgb(109, 153, 176);
      background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
      border: 1px solid #e1e1e1;
   
   }
   
 }
