.ItemListContainer {
   position: relative;
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   min-height: 100vh;
   margin: auto;
 
}

.spinner {
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   top: 0;
   margin: auto;
   border: 4px solid rgba(0, 0, 0, .3);
   border-left-color: transparent;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: spin 1s linear infinite;
   margin: auto;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}