

body {
   overflow: visible;
}

.cartContainer {
   font-family: 'Poppins', sans-serif;
}

h1 {
   font-weight: bold;
  

}
.h1{
   margin: auto;
   text-align: center;
   margin-bottom: 2rem;
}

.emptyCart {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.btnProducts {
   text-decoration: none;
   margin: 2rem;
   padding: 0.5rem 1rem;
   font-size: 1.3rem;
   background-color: #066e1e;
   border-radius: 10px;
   border-style: none;
   color: aliceblue;
   width: auto;
}



.btnCancel {
   background-color: rgb(236, 0, 0);
}

.btnCart {
   text-decoration: none;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 1em;
   margin: 0.5em;
   padding: 0.5em 1em;
   background-color: #066e1e;
   border-radius: 8px;
   border-style: none;
   color: aliceblue;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}


.itemCart {
   margin: 1rem 8rem;
   padding: 0.5rem;
   border: solid;
   border-width: 2px;
   border-radius: 10px;
   align-items: center;
}



.cartContent {
   display: flex;
   justify-content: center;
}

.purchase {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;

}

.modalOrder {
   font-family: 'Poppins', sans-serif;
   text-align: center;


}

.modalForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.2rem;
}

.modalInput {
   width: 50%;
}

.hide {
   display: none;
}

.swal-title {
   font-family: 'Poppins', sans-serif;
   margin-bottom: 1rem;
}

.swal-text {
   font-family: 'Poppins', sans-serif;
   font-size: 1.3rem;
   margin-bottom: 1rem;
   text-align: center;
}



@media only screen and (max-width:991px) {

   .itemCart {
      margin: 1rem 2rem;
   }
}